# Configuration file

~CONFIG_VERSION: 0.1.0

world-2030080134 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=comp
    B:overlayEnabled=true
}


world-991854950 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=manu
    B:overlayEnabled=true
}


world1492025331 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world203277235 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=ench

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world350155539 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=stea
    B:overlayEnabled=true
}


world712473666 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=acorn
    B:overlayEnabled=true
}


