# Configuration file

air {
    #  [default: [ecomod:frame]]
    S:AirPenetrators <
        ecomod:frame
     >

    #  [default: [minecraft:daylight_detector]]
    S:AirSealers <
        minecraft:daylight_detector
     >
}


client {
    #  [default: true]
    B:EnableConcentratedPollutionFlowTexture=true

    #  [default: true]
    B:allowAcidRainRender=true

    #  [range: 0.0 ~ 20.0, default: 1.4]
    S:smog_rendering_distance_intensity_exponent=1.4
}


config {
    # A URL to the PollutionEffectsConfig. See format at https://en.wikipedia.org/wiki/URL. If the PollutionEffectsConfig is remotely located you should have a connection to its location! When you are playing on a server you will receive its version of PollutionEffectsConfig. [default: https://raw.githubusercontent.com/Artem226/MinecraftEcologyMod/1.12/PollutionEffects.json]
    S:POLLUTION_EFFECTS_URL=https://raw.githubusercontent.com/Artem226/MinecraftEcologyMod/1.12/PollutionEffects.json

    # A URL to the PollutionSourcesConfig. See format at https://en.wikipedia.org/wiki/URL. If the PollutionSourcesConfig is remotely located you should have a connection to its location! When you are playing on a server you will use its version of PollutionSourcesConfig. [default: https://raw.githubusercontent.com/Artem226/MinecraftEcologyMod/1.12/PollutionSources.json]
    S:POLLUTION_SOURCES_URL=https://raw.githubusercontent.com/Artem226/MinecraftEcologyMod/1.12/PollutionSources.json

    # A URL to the TEPollutionConfig. See format at https://en.wikipedia.org/wiki/URL. If the TEPC is remotely located you should have a connection to its location!  If you point a local file you can type <MINECRAFT> instead of a path to the Minecraft directory (like this 'file:///<MINECRAFT>/tepc.json').  When you are playing on a server you will use its TEPC. [default: https://raw.githubusercontent.com/Artem226/MinecraftEcologyMod/1.12/TEPC.json]
    S:TEPC_URL=https://raw.githubusercontent.com/Artem226/MinecraftEcologyMod/1.12/TEPC.json
}


core {
    I:allowedDimensions <
        0
     >
}


generation {
    # Does wasteland spawn without any pollution? [default: false]
    B:WastelandSpawnsNaturally=false
}


intermod {
    #  [range: 1 ~ 2147483647, default: 600]
    I:FuelConcentratedPollutionBurnEnergy=600

    #  [range: 1 ~ 2147483647, default: 40]
    I:FuelConcentratedPollutionBurnTime=40

    #  [default: true]
    B:IsConcentratedPollutionIC2Fuel=true

    #  [default: true]
    B:is_oc_analyzer_interface_crafted_by_right_click=true
}


items {
    #  [range: 1 ~ 2147483647, default: 30]
    I:FilterCoreDurability=30
}


pollution {
    #  [range: 0.0 ~ 1.0, default: 0.05]
    S:AcidRainItemDeterioriationFactor=0.05

    #  [default: true]
    B:ConcentratedPollutionExplosive=true

    #  [range: 0.0 ~ 1.0, default: 0.01]
    S:DiffusionFactor=0.01

    #  [range: 0.0 ~ 1.0, default: 0.06]
    S:FilterAdjacentTilesRedution=0.06

    #  [range: 0.0 ~ 1.0, default: 0.001]
    S:FoodPollutiingFactor=0.001
    D:PollutionToFoodPoisonFactors <
        0.009999999776482582
        0.009999999776482582
        0.029999999329447746
     >

    #  [range: 0 ~ 128, default: 1]
    I:WaterPollutionRadius=1
}


thread {
    # The delay between thread runs. [range: 60 ~ 3600, default: 60]
    I:Delay=60

    # Whether the thread starts without delay [default: false]
    B:ImmediateStart=false

    # Critical timeout WPT warning(milliseconds). [range: 1 ~ 2147483647, default: 10000]
    I:criticalTimeoutWarinigMillis=10000

    # Timeout warning for every WPT operation in milliseconds. If you want to disable the warning, make this value big enough. [range: 1 ~ 2147483647, default: 1000]
    I:timeoutWarningMillis=1000
}


tiles {
    #  [range: 1 ~ 2147483647, default: 5]
    I:AdvancedFilterDelaySeconds=5

    #  [range: 0 ~ 70000, default: 5000]
    I:AdvancedFilterEnergyPerSeconds=5000

    # Analyzer energetic capacity [range: 1 ~ 2147483647, default: 450000]
    I:AnalyzerEnergy=450000

    #  [default: true]
    B:EnableAdvancedFilterCrafting=true

    #  [range: 0 ~ 2147483647, default: 5000]
    I:FilterEnergyPerBlockPerMinute=5000
}


